@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero-images {
  width: 375px;
  height: 250px;
  /* animation: animate 10s ease-in-out infinite; */
  background-size: cover;
}
@keyframes animate {
  0%,
  100% {
    background: url("/watch001.jpg"), no-repeat;
    background-size: cover;
  }
  50% {
    background: url("/watch002.jpg"), no-repeat;
    background-size: cover;
    background-position-y: -100px;
  }
}

.overlay {
  background: rgba(6, 20, 27, 0.4);
  width: 375px;
  height: 250px;
  position: absolute;
  top: 0;
}
.card {
  margin-top: 10px;
  background: #11212d;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px #000, -1px -4px 5px #253745;
}
.linear-bg {
  background-image: linear-gradient(
    45deg,
    #4a5c5a,
    #06141b,
    #11212d,
    #06141b,
    #ccd0cf
  );
}

.neumorphism {
  width: 300px;
  background: #11212d;
  border-radius: 10px;
  animation: neon 5s infinite;
}
@keyframes neon {
  0% {
    -webkit-box-shadow: 2px 2px 8px #000, -2px -2px 5px #253745;
  }
  50% {
    -webkit-box-shadow: 5px 5px 8px #000, -3px -3px 5px #253745;
  }
  100% {
    -webkit-box-shadow: 2px 2px 8px #000, -2px -3px 5px #253745;
  }
}
.input {
  background: #11212d;
  /* padding-left: 5px; */
  border-radius: 7px;
  -webkit-box-shadow: inset 2px 2px 9px #000, inset -2px -2px 2px #253745;
  -moz-box-shadow: inset 2px 2px 9px #000, inset -2px -2px 2px #253745;
  -ms-box-shadow: inset 2px 2px 9px #000, inset -2px -2px 2px #253745;
  -o-box-shadox: inset 2px 2px 9px #000, inset -2px -2px 2px #253745;
  border: 0.02px solid #fff;
}
.button {
  padding-y: 20px;
  background: #11212d;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px #000, -2px -2px 7px #253745;
}
.text {
  color: #fff;
  text-shadow: 2px 2px 8px #000, -2px -2px 12px #253745;
  font-size: 2em;
  letter-spacing: 2px;
}
.btn {
  background: transparent;
  backdrop-filter: blur(90px);
  border-radius: 7px;
  border: 1px solid #fff;
  padding-right: 5px;
  padding-left: 5px;
}
.image {
  width: 350px;
  height: 200px;
}

/* .product-image {
  width: 320px;
  height: 320px;
} */
.heart {
  position: absolute;
  top: 6px;
  right: 5px;
  color: #fff;
  font-size: 1.5em;
  -webkit-text-stroke: 2px #fff;
}
.active {
  position: relative;
  transition: all 12.3s ease;
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  border-bottom: 2px solid #fff;
  transform: scaleX(0);
  transition: width 51.8s ease;
}

.active::before {
  transform: scaleX(1);
  width: 100%;
}

@media (min-width: 414px) {
  .hero-images,
  .overlay {
    width: 414px;
  }
  .hero-text {
    margin-left: 30px;
  }
  .btn {
    margin-left: 50px;
  }
  .info-text {
    width: 390px;
  }
  .info-card-div {
    width: 390px;
  }
  .contact {
    width: 350px;
  }
  .input {
    width: 320px;
  }
  .form-btn {
    margin-left: 110px;
  }
  .social {
    width: 310px;
  }
  .searchIn {
    right: -18px;
  }
  .searchResult {
    width: 400px;
  }
  .prod {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    width: 380px;
  }
  .pro-image {
    width: 490px;
    height: 300px;
  }
  .cart-item,
  .cart,
  .cart-image {
    width: 350px;
  }
  .cart-item {
    margin-left: 18px;
  }
  .cart-detail {
    text-align: center;
  }
}
@media (min-width: 390px) {
  .hero-images {
    width: 390px;
  }
  .overlay {
    width: 390px;
  }
  .hero-text {
    margin-left: 10px;
  }
  .contact {
    width: 325px;
  }
  .input {
    width: 299px;
  }
  .form-btn {
    margin-left: 100px;
  }
  .social {
    width: 280px;
  }
  .searchIn {
    right: -20px;
  }
  .prod {
    width: 367px;
  }
  .pro-image {
    width: 367px;
  }
  .cart-item,
  .cart,
  .cart-image {
    width: 360px;
  }
  .cart-item {
    margin-left: 17px;
  }
}

@media (min-width: 430px) {
  .hero-images,
  .overlay {
    width: 430px;
  }
  .hero-text {
    margin-left: 30px;
  }
  .info-text {
    width: 420px;
  }
  .contact {
    width: 365px;
  }
  .input {
    width: 340px;
  }
  .searchIn {
    right: -60px;
  }
  .prod {
    width: 390px;
  }
  .pro-image {
    width: 390px;
    height: 300px;
  }
  .cart-item,
  .cart,
  .cart-image {
    width: 400px;
  }
  .cart {
    height: 450px;
  }
  .cart-image {
    height: 320px;
  }
  .cart-item {
    margin-left: 17px;
  }
}
@media (min-width: 820px) {
  .hero-images,
  .overlay {
    width: 820px;
  }
  .cart-items {
    margin-left: 50px;
  }
}
/* */