@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hero-images {
  width: 375px;
  height: 250px;
  /* animation: animate 10s ease-in-out infinite; */
  background-size: cover;
}
@keyframes animate {
  0%,
  100% {
    background: url("/watch001.jpg"), no-repeat;
    background-size: cover;
  }
  50% {
    background: url("/watch002.jpg"), no-repeat;
    background-size: cover;
    background-position-y: -100px;
  }
}

.overlay {
  background: rgba(6, 20, 27, 0.4);
  width: 375px;
  height: 250px;
  position: absolute;
  top: 0;
}
.card {
  margin-top: 10px;
  background: #11212d;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px #000, -1px -4px 5px #253745;
}
.linear-bg {
  background-image: linear-gradient(
    45deg,
    #4a5c5a,
    #06141b,
    #11212d,
    #06141b,
    #ccd0cf
  );
}

.neumorphism {
  width: 300px;
  background: #11212d;
  border-radius: 10px;
  animation: neon 5s infinite;
}
@keyframes neon {
  0% {
    -webkit-box-shadow: 2px 2px 8px #000, -2px -2px 5px #253745;
  }
  50% {
    -webkit-box-shadow: 5px 5px 8px #000, -3px -3px 5px #253745;
  }
  100% {
    -webkit-box-shadow: 2px 2px 8px #000, -2px -3px 5px #253745;
  }
}
.input {
  background: #11212d;
  /* padding-left: 5px; */
  border-radius: 7px;
  -webkit-box-shadow: inset 2px 2px 9px #000, inset -2px -2px 2px #253745;
  -moz-box-shadow: inset 2px 2px 9px #000, inset -2px -2px 2px #253745;
  -ms-box-shadow: inset 2px 2px 9px #000, inset -2px -2px 2px #253745;
  -o-box-shadox: inset 2px 2px 9px #000, inset -2px -2px 2px #253745;
  border: 0.02px solid #fff;
}
.button {
  padding-y: 20px;
  background: #11212d;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px #000;
}
.text {
  color: #fff;
  text-shadow: 2px 2px 8px #000, -2px -2px 12px #253745;
  font-size: 2em;
  letter-spacing: 2px;
}
.btn {
  background: transparent;
  /* backdrop-filter: blur(90px); */
  border-radius: 7px;
  border: 1px solid #fff;
  padding-right: 5px;
  padding-left: 5px;
}
.image {
  width: 350px;
  height: 200px;
}

/* .product-image {
  width: 320px;
  height: 320px;
} */
.heart {
  position: absolute;
  top: 6px;
  right: 5px;
  color: #fff;
  font-size: 1.5em;
  -webkit-text-stroke: 2px #fff;
}
.active {
  position: relative;
  transition: all 12.3s ease;
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  border-bottom: 2px solid #fff;
  transform: scaleX(0);
  transition: width 51.8s ease;
}

.active::before {
  transform: scaleX(1);
  width: 100%;
}

/* From Uiverse.io by AbanoubMagdy1 */ 
.wave-group {
  position: relative;
}

.wave-group .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus ~ label .label-char,
.wave-group .input:valid ~ label .label-char {
  transform: translateY(-24px);
  font-size: 18px;
  color: #ffff;
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 300px;
}

.wave-group .bar:before,.wave-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #fefefe;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
  width: 50%;
}

/* Search styles */
/* From Uiverse.io by Lakshay-art */ 
.grid {
  height: 800px;
  width: 800px;
  background-image: linear-gradient(to right, #0f0f10 1px, transparent 1px),
    linear-gradient(to bottom, #0f0f10 1px, transparent 1px);
  background-size: 1rem 1rem;
  background-position: center center;
  position: absolute;
  z-index: -1;
  filter: blur(1px);
}
.white,
.border,
.darkBorderBg,
.glow {
  max-height: 70px;
  max-width: 314px;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  /* Border Radius */
  border-radius: 12px;
  filter: blur(3px);
}
.input {
  background-color: #06141b;
  border: none;
  /* padding:7px; */
  width: 301px;
  height: 56px;
  border-radius: 10px;
  color: white;
  padding-inline: 59px;
  font-size: 18px;
}
#poda {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input::placeholder {
  color: #c0b9c0;
}

.input:focus {
  outline: none;
}

#main:focus-within > #input-mask {
  display: none;
}

#input-mask {
  pointer-events: none;
  width: 100px;
  height: 20px;
  position: absolute;
  background: linear-gradient(90deg, transparent, #06141b);
  top: 18px;
  left: 70px;
}
#pink-mask {
  pointer-events: none;
  width: 30px;
  height: 20px;
  position: absolute;
  background: #4a5c5a;
  top: 10px;
  left: 5px;
  filter: blur(20px);
  opacity: 0.8;
  animation:leftright 4s ease-in infinite;
  transition: all 2s;
}
#main:hover > #pink-mask {
  animation: rotate 4s linear infinite;
  opacity: 0;
}

.white {
  max-height: 63px;
  max-width: 307px;
  border-radius: 10px;
  filter: blur(2px);
}

.white::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(83deg);
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0 0;
  filter: brightness(1.4);
  background-image: conic-gradient(
    rgba(0, 0, 0, 0) 0%,
    #a099d8,
    rgba(0, 0, 0, 0) 8%,
    rgba(0, 0, 0, 0) 50%,
    #dfa2da,
    rgba(0, 0, 0, 0) 58%
  );
  animation: rotate 4s linear infinite;
  transition: all 2s;
}
.border {
  max-height: 59px;
  max-width: 303px;
  border-radius: 11px;
  filter: blur(0.5px);
}
.border::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(70deg);
  position: absolute;
  width: 600px;
  height: 600px;
  filter: brightness(1.3);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    #1c191c,
    #402fb5 5%,
    #1c191c 14%,
    #1c191c 50%,
    #cf30aa 60%,
    #1c191c 64%
  );
  animation: rotate 4s 0.1s linear infinite;
  transition: all 2s;
}
.darkBorderBg {
  max-height: 65px;
  max-width: 312px;
}
.darkBorderBg::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(82deg);
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    #18116a,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0) 50%,
    #6e1b60,
    rgba(0, 0, 0, 0) 60%
  );
  transition: all 2s;
}
#poda:hover > .darkBorderBg::before {
  transform: translate(-50%, -50%) rotate(262deg);
}
#poda:hover > .glow::before {
  transform: translate(-50%, -50%) rotate(240deg);
}
#poda:hover > .white::before {
  transform: translate(-50%, -50%) rotate(263deg);
}
#poda:hover > .border::before {
  transform: translate(-50%, -50%) rotate(250deg);
}

#poda:hover > .darkBorderBg::before {
  transform: translate(-50%, -50%) rotate(-98deg);
}
#poda:hover > .glow::before {
  transform: translate(-50%, -50%) rotate(-120deg);
}
#poda:hover > .white::before {
  transform: translate(-50%, -50%) rotate(-97deg);
}
#poda:hover > .border::before {
  transform: translate(-50%, -50%) rotate(-110deg);
}

#poda:focus-within > .darkBorderBg::before {
  transform: translate(-50%, -50%) rotate(442deg);
  transition: all 4s;
}
#poda:focus-within > .glow::before {
  transform: translate(-50%, -50%) rotate(420deg);
  transition: all 4s;
}
#poda:focus-within > .white::before {
  transform: translate(-50%, -50%) rotate(443deg);
  transition: all 4s;
}
#poda:focus-within > .border::before {
  transform: translate(-50%, -50%) rotate(430deg);
  transition: all 4s;
}

.glow {
  overflow: hidden;
  filter: blur(30px);
  opacity: 0.4;
  max-height: 130px;
  max-width: 354px;
}
.glow:before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  position: absolute;
  width: 999px;
  height: 999px;
  background-repeat: no-repeat;
  background-position: 0 0;
  /*border color, change middle color*/
  background-image: conic-gradient(
    #000,
    #a099d8 5%,
    #000 38%,
    #000 50%,
    #ffff 60%,
    #000 87%
  );
  /* change speed here */
  animation: rotate 4s 0.3s linear infinite;
  transition: all 2s;
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(450deg);
  }
}
@keyframes leftright {
  0% {
    transform: translate(0px, 0px);
    opacity: 1;
  }

  49% {
    transform: translate(250px, 0px);
    opacity: 0;
  }
  80% {
    transform: translate(-40px, 0px);
    opacity: 0;
  }

  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

#filter-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  max-height: 40px;
  max-width: 38px;
  height: 100%;
  width: 100%;

  isolation: isolate;
  overflow: hidden;
  /* Border Radius */
  border-radius: 10px;
  background: linear-gradient(180deg, #161329, black, #1d1b4b);
  border: 1px solid transparent;
}
.filterBorder {
  height: 42px;
  width: 40px;
  position: absolute;
  overflow: hidden;
  top: 7px;
  right: 7px;
  border-radius: 10px;
}

.filterBorder::before {
  content: "";
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0 0;
  filter: brightness(1.35);
  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    #3d3a4f,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 50%,
    #3d3a4f,
    rgba(0, 0, 0, 0) 100%
  );
  animation: rotate 4s linear infinite;
}
#main {
  position: relative;
}
#search-icon {
  position: absolute;
  left: 20px;
  top: 15px;
}


@media (min-width: 414px) {
  .hero-images,
  .overlay {
    width: 414px;
  }
  .hero-text {
    margin-left: 30px;
  }
  .btn {
    margin-left: 50px;
  }
  .info-text {
    width: 390px;
  }
  .info-card-div {
    width: 390px;
  }
  .contact {
    width: 350px;
  }
  .input {
    width: 320px;
  }
  .form-btn {
    margin-left: 110px;
  }
  .social {
    width: 310px;
  }
  .searchIn {
    right: -18px;
  }
  .searchResult {
    width: 400px;
  }
  .prod {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    width: 380px;
  }
  .pro-image {
    width: 490px;
    height: 300px;
  }
  .cart-item,
  .cart,
  .cart-image {
    width: 350px;
  }
  .cart-item {
    margin-left: 18px;
  }
  .cart-detail {
    text-align: center;
  }
}
@media (min-width: 390px) {
  .hero-images {
    width: 390px;
  }
  .overlay {
    width: 390px;
  }
  .hero-text {
    margin-left: 10px;
  }
  .contact {
    width: 325px;
  }
  .input {
    width: 299px;
  }
  .form-btn {
    margin-left: 100px;
  }
  .social {
    width: 280px;
  }
  .searchIn {
    right: -20px;
  }
  .prod {
    width: 367px;
  }
  .pro-image {
    width: 367px;
  }
  .cart-item,
  .cart,
  .cart-image {
    width: 360px;
  }
  .cart-item {
    margin-left: 17px;
  }
}

@media (min-width: 430px) {
  .hero-images,
  .overlay {
    width: 430px;
  }
  .hero-text {
    margin-left: 30px;
  }
  .info-text {
    width: 420px;
  }
  .contact {
    width: 365px;
  }
  .input {
    width: 340px;
  }
  .searchIn {
    right: -60px;
  }
  .prod {
    width: 390px;
  }
  .pro-image {
    width: 390px;
    height: 300px;
  }
  .cart-item,
  .cart,
  .cart-image {
    width: 400px;
  }
  .cart {
    height: 450px;
  }
  .cart-image {
    height: 320px;
  }
  .cart-item {
    margin-left: 17px;
  }
}
@media (min-width: 820px) {
  .hero-images,
  .overlay {
    width: 820px;
  }
  .cart-items {
    margin-left: 50px;
  }
}
/* */